.meetsCardsContainer{
    margin-bottom: 5%!important;
  }
  .meetCardContent{
    text-align: left;
  }
  .cardTitle{
    text-align: left;
    font-size: 18px;
    font-weight: 600 !important;
    margin-bottom: 3% !important;
    color: #333;
  }