.EditProfileContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-editProfile{
    width: 90%;
    height: 5.5%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.backButton{
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: left;
    padding-bottom: 2%;
}
.arrowButton{
    width: 6%;
    height: 100%;
}

.editProfileHeaderContainer{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    background-image: url("../../assets/img/greenBar.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 80%;
}
.modifPersonalInfoContainer{
   
    width: 90%;
    height: 80%;
}
.editPersonalInfoContainer{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5%;
}
.title{
    text-align: left;
    font-weight: 600 !important;
    margin-top: 5% !important;
    margin-bottom: 3% !important;
    color: #333;
    width: 100%;
}
.prenomContainer, .nomContainer{
    width: 49%;
}
.emailContainer{
    margin-top: 5% !important;
    width: 100%;
}
.aboutMe{
    width: 100%;
}
.editFavoirs{
    margin-top: 5%;
    width: 100%;
    padding-bottom: 5% !important;

}
.buttonModfiContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.modifProfile{
    width: 70%;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-uk5vo3 {
    border-radius: 25px;
  }
  .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-multiline.css-1vfg5gq {
    border-radius: 25px;
  }